

.list{

  margin: 20px 0;

}

.list li{

  list-style-type: none;
  margin: 5px;
  background-color: #343a40;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;

  overflow: hidden;
}
.list li span{
  float: left;

  padding: 15px 25px;
  overflow: hidden;
}


/*.list li .bagage{*/
/*  background-color: #e3f2fd;*/
/*}*/


